*{
    margin: 0;
    font-family: verdana,arial,helvetica,sans-serif;
}
#header{
}
nav {

}
#middle{
    top: 60px;
    margin-top: 60px;
}
#column-left{
    padding: 0;
    margin-top: 60px;
}
aside{
    background-color: #484854;
    color: white;
    padding-top: 20px;
}
footer{
    color: white;
    background-color: #3b3b43;
}
section{
}
article{
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.31);
    -moz-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.31);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.31);
}
.article-title{
    color: white;
    background-color: #2d82ba;
}
#aboute_me{
    background: none;
    color: #000000;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#skill{

}
#experiences{

}
#education{

}
#leisures{

}
#contact{

}